/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0 !important;
  background-color: var(--background);
  color: var(--light);
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  margin: 0.5rem 0 0.5rem 0;
}

ul li {
  list-style-type: square;
  margin-top: 0.4rem;
}

hr {
  border: 0;
  border-top: 1px solid gray;
}

a {
  color: inherit; /* Inherits color from parent (usually black by default) */
  text-decoration: none;
}
