.blog {
}

.postsContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.post * {
  margin: 0;
}

.date {
  opacity: 0.75;
}

.post .date {
  margin-right: 1rem;
}

/*after :md, make post NOT flex*/
@media (max-width: 768px) {
  .post {
    display: block;
  }
}
