.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile * {
  font-weight: 400;
}

.profile .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem 0;
}

.profile .position {
  margin-top: 0.15rem;
  opacity: 0.5;
  font-size: 14px;
  font-style: italic;
}
.profile .intro {
  margin-top: 0.5rem;
  text-align: center;
}
